<a href="https://colab.research.google.com/github/hassanme/FUTURE_ML_01/blob/main/Looping_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Learning agenda of this notebook
There are scenarios is programming, where we need to repeat a set of instructions a specified number of times or until a condition is met. This is called iteration. A programming structure that implements iteration is called a loop. In programming there are two types of iteration:
1. Indefinite Iteration, implemented using a `while` loop
    - Basic `while` loop examples
    - Use of `break`,  `continue` and `else` in `while` loop   
    - Nested `while` loop <br><br>
3. Definite Iteration, implemented using a `for` loop
    - Iterables and Iterators
    - Basic `for` loop examples
    - The `range()` and `enumerate()` functions
    - Use of `break`, `continue` and `else` in `for` loop
    - Nested `for` loop <br><br>
4. List Comprehension <br><br>
5. Dictionary Comprehension

<img align="right" width="400" height="300"  src="https://github.com/arifpucit/data-science/blob/master/Section-2-Basics-of-Python-Programming/Lec-2.10-Repetition-Structure/images/while.png?raw=1" >

## 1. The `while` Loop
```
initialize loop variable
while (condition is true):
    statement(s)
    update loop variable
statement(s)
```
- The indented block of code, often refered to as body of the loop will be executed repeatedly until the condition/expression evaluates to False.
- The condition or controlling expression, typically involves on or more variables that are initialized prior to starting the loop and then modified somewhere in the loop body.
- While loop is generally used, when we don't know the number of times to iterate beforehand.

In [ ]:
help('while')

The "while" statement
*********************

The "while" statement is used for repeated execution as long as an
expression is true:

   while_stmt ::= "while" assignment_expression ":" suite
                  ["else" ":" suite]

This repeatedly tests the expression and, if it is true, executes the
first suite; if the expression is false (which may be the first time
it is tested) the suite of the "else" clause, if present, is executed
and the loop terminates.

A "break" statement executed in the first suite terminates the loop
without executing the "else" clauseâ€™s suite.  A "continue" statement
executed in the first suite skips the rest of the suite and goes back
to testing the expression.

Related help topics: break, continue, if, TRUTHVALUE

In [ ]:
dir('while')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
help('while'.join)

Help on built-in function join:

join(iterable, /) method of builtins.str instance
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [ ]:
help('for')

The "for" statement
*******************

The "for" statement is used to iterate over the elements of a sequence
(such as a string, tuple or list) or other iterable object:

   for_stmt ::= "for" target_list "in" expression_list ":" suite
                ["else" ":" suite]

The expression list is evaluated once; it should yield an iterable
object.  An iterator is created for the result of the
"expression_list".  The suite is then executed once for each item
provided by the iterator, in the order returned by the iterator.  Each
item in turn is assigned to the target list using the standard rules
for assignments (see Assignment statements), and then the suite is
executed.  When the items are exhausted (which is immediately when the
sequence is empty or an iterator raises a "StopIteration" exception),
the suite in the "else" clause, if present, is executed, and the loop
terminates.

A "break" statement executed in the first suite terminates the loop
without executing the "else" clauseâ€™s suite.  A "continue" statement
executed in the first suite skips the rest of the suite and continues
with the next item, or with the "else" clause if there is no next
item.

The for-loop makes assignments to the variables in the target list.
This overwrites all previous assignments to those variables including
those made in the suite of the for-loop:

   for i in range(10):
       print(i)
       i = 5             # this will not affect the for-loop
                         # because i will be overwritten with the next
                         # index in the range

Names in the target list are not deleted when the loop is finished,
but if the sequence is empty, they will not have been assigned to at
all by the loop.  Hint: the built-in type "range()" represents
immutable arithmetic sequences of integers. For instance, iterating
"range(3)" successively yields 0, 1, and then 2.

Related help topics: break, continue, while

In [ ]:
dir('for')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# Example 1: Print numbers
# initialize loop variable - check condition - update loop variable
number = 0
while number < 7:
    print(number)
    number += 1
print("Bye-Bye")

0
1
2
3
4
5
6
Bye-Bye

In [ ]:
%%time
# Example 2: Calculate 100th factorial
i = 1
result = 1
if i == 0:
    result = 1
else:
    while (i <= 100):
        result = result * i
        i += 1
print(result)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000
CPU times: user 363 Âµs, sys: 1.64 ms, total: 2 ms
Wall time: 1.91 ms

In [ ]:
n = int(input("Enter number: "))
sum = 0
i = 1
while (i <= n):
    sum = sum + i
    i = i+1   # update counter
print("The sum is", sum)

Enter number: 11
The sum is 66

In [ ]:
# Example 3: Input number from user and compute the sum 1+2+3+4+....+n
n = int(input("Enter number: "))
sum = 0
i = 1
while (i <= n):
    sum = sum + i
    i = i+1   # update counter
print("The sum is", sum)

Enter number: 11
The sum is 66

In [ ]:
# # Example 4: while loop iterates over the elements until a certain condition is met
list1 = ['Learning', 'is', 'fun', 'with', 'Arif Butt']
ctr = 0
while(ctr < len(list1)):
    print(list1[ctr])
    ctr += 1

print(list1)

Learning
is
fun
with
Arif Butt
['Learning', 'is', 'fun', 'with', 'Arif Butt']

In [ ]:
# Example 5: Using iterables inside a while loop expression
mylist = ['Arif', 'Hadeed','Mujahid', 'Maaz']
print("mylist before the loop: ", mylist)

x = 1
while mylist:   #you read it as while there exist elements in the iterable mylist do following
    print("This is iteration number: ", x)
    x += 1
    mylist.pop()   # removes the right most value from the iterable mylist each time it is called

print("mylist after the loop: ",mylist)

mylist before the loop:  ['Arif', 'Hadeed', 'Mujahid', 'Maaz']
This is iteration number:  1
This is iteration number:  2
This is iteration number:  3
This is iteration number:  4
mylist after the loop:  []

In [ ]:
# Example 6: Print Fibonacci series
n = int(input("Enter count of fibonacci numbers you want to print: "))
i = 1
if n<1:
    fib = []       # In case user enter <0, the list is empty
elif n==1:
    fib = [0]      # If user enters 1, the list has the first fibonacci number
elif n==2:
    fib = [0, 1]   # If user enters 2, the list has the first two fibonacci numbers
elif n > 2:
    fib = [0, 1]   # if n>2, then we need to enter in while loop to compute the rest of the fibonacci numbers
    while (i < n-1):
        fib.append(fib[i] + fib[i-1])
        i += 1
print("Required Fibonacci series: ", fib)

Enter count of fibonacci numbers you want to print: 6
Required Fibonacci series:  [0, 1, 1, 2, 3, 5]

In [ ]:
# Example 1: A while loop nested inside another while loop
# Note the inner while loop works on a list that is declared again and again inside the outer loop
a = [1,2,3,4,5]
while (a):
    print("Outer: ", a.pop())
    b = ['Arif', 'Rauf']
    while (b):
        print("\t Inner: ", b.pop())

print("After both the loops end")
print("a= ", a)
print("b= ", b)

Outer:  5
	 Inner:  Rauf
	 Inner:  Arif
Outer:  4
	 Inner:  Rauf
	 Inner:  Arif
Outer:  3
	 Inner:  Rauf
	 Inner:  Arif
Outer:  2
	 Inner:  Rauf
	 Inner:  Arif
Outer:  1
	 Inner:  Rauf
	 Inner:  Arif
After both the loops end
a=  []
b=  []

## 2. Jump Statements in Python (`break` and `continue`)

<img align="left" width="300" height="300"  src="https://github.com/arifpucit/data-science/blob/master/Section-2-Basics-of-Python-Programming/Lec-2.10-Repetition-Structure/images/break.png?raw=1" >

<img align="right" width="300" height="300"  src="https://github.com/arifpucit/data-science/blob/master/Section-2-Basics-of-Python-Programming/Lec-2.10-Repetition-Structure/images/continue.png?raw=1" >

In the above examples, we have seen that the entire body of the while loop is executed on each iteration. Python provides two keywords that terminate a loop iteration prematurely:
- Python **`break`** statement immediately terminates a loop entirely. Program execution proceeds to the first statement after the loop body.<br><br>
- Python **`continue`** statement immediately terminates the current loop iteration. Program execution jumps to the top of the loop, and the loop condition is re-evaluated to determine whether the loop will execute again or terminate

In [ ]:
help('break')

The "break" statement
*********************

   break_stmt ::= "break"

"break" may only occur syntactically nested in a "for" or "while"
loop, but not nested in a function or class definition within that
loop.

It terminates the nearest enclosing loop, skipping the optional "else"
clause if the loop has one.

If a "for" loop is terminated by "break", the loop control target
keeps its current value.

When "break" passes control out of a "try" statement with a "finally"
clause, that "finally" clause is executed before really leaving the
loop.

Related help topics: while, for

In [ ]:
total = 0
num = 1
while num <= 100:
    total += num
    num += 1
print("Sum:", total)

Sum: 5050

In [ ]:
import time

for limit in [100, 1000, 10000, 100000]:
    start = time.time()
    total = 0
    num = 1
    while num <= limit:
        total += num
        num += 1
    end = time.time()
    print(f"Sum of 1 to {limit}: {total}, Time taken: {end - start} seconds")

Sum of 1 to 100: 5050, Time taken: 2.09808349609375e-05 seconds
Sum of 1 to 1000: 500500, Time taken: 0.00043082237243652344 seconds
Sum of 1 to 10000: 50005000, Time taken: 0.0039196014404296875 seconds
Sum of 1 to 100000: 5000050000, Time taken: 0.026083707809448242 seconds

In [ ]:
#Example 1: Breaking an infinite while loop on a certain condition
n = 0
while (True):
    n = n + 1
    if (n == 5):
        break
    print(n)
print("Outside loop")

1
2
3
4
Outside loop

In [ ]:
n = 10
while (n > 0):
    n = n - 1
    if (n == 5):
        break
    print(n)

9
8
7
6

In [ ]:
help("continue")

The "continue" statement
************************

   continue_stmt ::= "continue"

"continue" may only occur syntactically nested in a "for" or "while"
loop, but not nested in a function or class definition within that
loop.  It continues with the next cycle of the nearest enclosing loop.

When "continue" passes control out of a "try" statement with a
"finally" clause, that "finally" clause is executed before really
starting the next loop cycle.

Related help topics: while, for

In [ ]:
dir('continue')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
n = 10
while n > 0:
    n = n - 1
    if (n == 5 or n == 7):
        continue
    print(n)

9
8
6
4
3
2
1
0

In [ ]:
#Example 2: Use of continue
n = 10
while n > 0:
    n = n - 1
    if (n % 2 == 0):
        continue
    print(n)

9
7
5
3
1

### c. The `while` loop with `else` statement:
- On normal termination of loop, i.e., when the loop condition becomes False, the `else` clause will execute.
- However, if the loop is terminated prematurely by either a break or return statement, the `else` clause wonâ€™t execute at all.

In [ ]:
# Example: The `else` block will execute only when the loop condition becomes false
n = 5
while n > 0:
    n = n - 1
    print(n)
else:
    print("Loop is finished")
print("outside loop")

4
3
2
1
0
Loop is finished
outside loop

In [ ]:
# Example: The `else` block will NOT execute because the loop breaks w/o the loop condition being false
n = 5
while n > 0:
    n = n - 1
    if (n==2):
        break
    print(n)
else:
    print("Loop is finished")
print("outside loop")

4
3
outside loop

<img align="right" width="300" height="300"  src="https://github.com/arifpucit/data-science/blob/master/Section-2-Basics-of-Python-Programming/Lec-2.10-Repetition-Structure/images/for.png?raw=1" >

## 3. The `for` Loop
- We use `for` loop when we want to run a block of code for known set of items in an iterable.
- In the context of most data science work, Python `for` loops are used to loop through an iterable object (like a list, tuple, set, dictionary) and perform the same action for each entry.
- For example, a for loop would allow us to iterate through a list, performing the same action on each item in the list.
```
for variable in <iterable>:
    <statement(s)>
```
- Before we see a basic example of a Python `for` loop, let us first understand the concept of **Iterables** and **Iterators**

### a. Iterables and Iterators
- An `Iterable` in Python is an object that is capable of returning its members one at a time, and therefore, can be used in an iteration. Lists, Tuples, Sets and Dictionaries are iterables.
- An `Iterator` in Python is an object that is used to iterate over iterable objects
    - To initialize an iterator we pass an iterable object to Python built-in function `iter()`
    - The `iter()` function returns an iterator for that iterable object.
    - Later we use the Python built-in `next()` function to iterate over the elements of that iterable
- Let us understand this using some example codes:

In [ ]:
help('iter')

Help on built-in function iter in module builtins:

iter(...)
    iter(iterable) -> iterator
    iter(callable, sentinel) -> iterator

    Get an iterator from an object.  In the first form, the argument must
    supply its own iterator, or be a sequence.
    In the second form, the callable is called until it returns the sentinel.

In [ ]:
# Creating list iterator from a list iterable using the iter() method
mylist = ['banana', 'mango', 'grapes']
iterator_mylist = iter(mylist)
iterator_mylist

In [ ]:
# Creating tuple iterator from a tuple iterable using the iter() method
mytuple = ('banana', 'mango', 'grapes')
iterator_mytuple = iter(mytuple)
iterator_mytuple

In [ ]:
# Creating set iterator from a set iterable using the iter() method
myset = set(['banana', 'mango', 'grapes'])
iterator_myset = iter(myset)
iterator_myset

In [ ]:
# Creating dictionary key-iterator from a dictionary iterable using the iter() method
mydict = {1:'banana', 2:'mango', 3:'grapes'}
iterator_dictkeys = iter(mydict)
iterator_dictkeys

In [ ]:
# Creating dictionary key-iterator from a dictionary iterable using the iter() method
mydict = {1:'banana', 2:'mango', 3:'grapes'}
iterator_dictkeys = iter(mydict.keys())
iterator_dictkeys

In [ ]:
# Creating dictionary value-iterator from a dictionary iterable using the iter() method
mydict = {1:'banana', 2:'mango', 3:'grapes'}
iterator_dictvals = iter(mydict.values())
iterator_dictvals

In [ ]:
# Creating dictionary item-iterator from a dictionary iterable using the iter() method
mydict = {1:'banana', 2:'mango', 3:'grapes'}
iterator_dictitems = iter(mydict.items())
iterator_dictitems

### b. Basic For Loop Examples

In [ ]:
# Example 1
mylist = ['Arif', 'Hadeed', 'Muhahid']

for i in mylist:
    print(i)
print("Elements of mylist exhausted and next() returned StopIteration Error, which is handled by for loop")

Arif
Hadeed
Muhahid
Elements of mylist exhausted and next() returned StopIteration Error, which is handled by for loop

- Let us see behind the curtain (How the above for loop works):
    - Calls `iter()` to obtain an iterator for mylist
    - Calls `next()` repeatedly to obtain items from the iterator object
    - Terminate the for loop when `next()` raises a StopIteration exception

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
# Example 2: Loop through the letters in a string
for i in ("Be Happy"):
    print(i)

B
e

H
a
p
p
y

In [ ]:
for char in "Python":
    print(char)

P
y
t
h
o
n

In [ ]:
for i in "python":
  print(i)

p
y
t
h
o
n

In [ ]:
list = [1,2,3,4,5]
for i in list:
  print(i)

1
2
3
4
5

In [ ]:
tuple = (1,2,3,4,5)
for i in tuple:
  print(i)

1
2
3
4
5

In [ ]:
my_dict = {'a': 1, 'b': 2}
for key, value in my_dict.items():
    print(key, value)

a 1
b 2

In [ ]:
# Example 3: Iterate a tuple using for loop
friends = ('arif', 'rauf', 'hadeed', 'zalaid')

for friend in friends:
    print(friend)

arif
rauf
hadeed
zalaid

In [ ]:
# Example 4: Iterate a string using for loop and count the count of a specific character
word = "Welcome to Learning with Mohsin Khan."
count = 0
for character in word:
    if character == 'i':
        count = count+1
print(count)

3

In [ ]:
word = "Welcome hassan"
count = 0
for i in word:
  if i == 'm':
    count = count+1
print(count)

1

In [ ]:
# Example 5:  Iterating through a dictionary keys
d1 = {
    'Name': 'Kakamanna',
    'Gender': 'Male',
    'Age': 23,
    'Height': 6.1,
    'Occupation': 'Student'
}
print("Iterating through dictionary keys:")
for i in d1:
    print(i)

print("Another way of iterating through dictionary keys:")
for i in d1.keys():
    print(i)

print("Another way to iterating keys with its values also: ")
for i in d1.items():
    print(i)
for i in d1.values():
    print(i)
for keys, values in d1.items():
  print(keys, values)

Iterating through dictionary keys:
Name
Gender
Age
Height
Occupation
Another way of iterating through dictionary keys:
Name
Gender
Age
Height
Occupation
Another way to iterating keys with its values also:
('Name', 'Kakamanna')
('Gender', 'Male')
('Age', 23)
('Height', 6.1)
('Occupation', 'Student')
Kakamanna
Male
23
6.1
Student
Name Kakamanna
Gender Male
Age 23
Height 6.1
Occupation Student

In [ ]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [ ]:
d1 = {
    'Name': 'Kakamanna',
    'Gender': 'Male',
    'Age': 23,
    'Height': 6.1,
    'Occupation': 'Student'
}
print("\nIterating through a dictionary key:value pairs:")
for k,v in d1.items():
    print(k,v)

Iterating through a dictionary key:value pairs:
Name Kakamanna
Gender Male
Age 23
Height 6.1
Occupation Student

#### The `pass` statement in a `for` loop
- The `pass` statement is generally used as a placeholder i.e. when the user does not know what code to write.
- So user can simply write `pass` statement, where empty code is not allowed, like in loops, function definitions, class definitions, or in if statements.

In [ ]:
help('pass')

The "pass" statement
********************

   pass_stmt ::= "pass"

"pass" is a null operation â€” when it is executed, nothing happens. It
is useful as a placeholder when a statement is required syntactically,
but no code needs to be executed, for example:

   def f(arg): pass    # a function that does nothing (yet)

   class C: pass       # a class with no methods (yet)

In [ ]:
# Print all elements of list ignoring string "arif"
list1 =['rauf', 'arif', 'hadeed', 'mujahid']

for i in list1:
    if(i =='arif'):
        pass    # do nothing
    else:
        print(i)

rauf
hadeed
mujahid

In [ ]:
# Print the string ignoring spaces
str1 = "This is great stuff"
for i in str1:
    if(i ==' '):
        pass
    else:
        print(i, end="")

Thisisgreatstuff

### c. Using `range()` Function in `for` Loops
- The `range()` method is used to create a range object, containing sequence of numbers that can be iterated over using a `for` loop.
- It can be used in 3 ways:
* `range(n)` - Creates a sequence of numbers from `0` to `n-1`
* `range(a, b)` - Creates a sequence of numbers from `a` to `b-1`
* `range(a, b, step)` - Creates a sequence of numbers from `a` to `b-1` with increment/decrement of `step`

In [ ]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [ ]:
type(range)

type

In [ ]:
n=range(90)
print(type(n))

<class 'range'>

In [ ]:
# Restore the original functionality of the 'list' function.
# You might need to restart your kernel or reassign 'list' to its original function.
# Since restarting the kernel isn't an option here, we'll reassign 'list' by importing the 'builtins' module.
import builtins
list = builtins.list

# Now your code should work correctly:
print(range(10))    # returns an iterator object containing integer values

print(list(range(10)))

print(list(range(-5, 2, 1)))

print(list(range(20, 2, -3)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-5, -4, -3, -2, -1, 0, 1]
[20, 17, 14, 11, 8, 5]

In [ ]:
a = range(5)
for i in a:
    print(i)

0
1
2
3
4

In [ ]:
#Example 2:
#a = range(3, 10)
for i in range(3, 10):
    print(i)

3
4
5
6
7
8
9

In [ ]:
for index, value in enumerate(['a', 'b', 'c']):
    print(index, value) # it returns the index value of items over a sequence

0 a
1 b
2 c

In [ ]:
#Example 3:
a = range(3, 15, 4)
for i in a:
    print(i)

3
7
11

In [ ]:
# Example 4: Used to iterate over Lists, when you need to track the index of elements while iterating.
friends = ['Rauf','Arif', 'Maaz', 'Hadeed', 'Muhahid', 'Mohid']

for i in range(len(friends)):  # Remember the len() function returns 6 in this scenario
    print('The value at position {} is {}.'.format(i, friends[i]))

The value at position 0 is Rauf.
The value at position 1 is Arif.
The value at position 2 is Maaz.
The value at position 3 is Hadeed.
The value at position 4 is Muhahid.
The value at position 5 is Mohid.

In [ ]:
for i in range(3):
    for j in range(3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [ ]:
for i in range(3):
  print(j)

2
2
2

In [ ]:
import timeit

nums = list(range(100000))

# Using map
map_time = timeit.timeit(lambda: list(map(lambda x: x * 2, nums)), number=100)

# Using list comprehension
list_time = timeit.timeit(lambda: [x * 2 for x in nums], number=100)

print(f"Map Time: {map_time}, List Comprehension Time: {list_time}")

Map Time: 1.0422892149999825, List Comprehension Time: 0.6081504440007848

### d. Using  `enumerate()` Function in `for` Loops
- The `enumerate()` method is passed an iterable object and returns an enumerate object containing tuples, each tuple having two values:
```
(index, data_at_that_index_in_the_iterable)
```
- It is is useful for obtaining an indexed list:
```
       (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
```

In [ ]:
mylist = ['arif', 'hadeed', 'mujahid']
print(list(enumerate(mylist)))

[(0, 'arif'), (1, 'hadeed'), (2, 'mujahid')]

In [ ]:
mylist = ['arif', 'hadeed', 'mujahid']
print(dict(enumerate(mylist)))

{0: 'arif', 1: 'hadeed', 2: 'mujahid'}

In [ ]:
friends = ['Rauf', 'Arif', 'Maaz', 'Hadeed', 'Muhahid', 'Mohid']

for i, name in enumerate(friends):
    print('The value at position {} is {}.'.format(i, friends[i]))

The value at position 0 is Rauf.
The value at position 1 is Arif.
The value at position 2 is Maaz.
The value at position 3 is Hadeed.
The value at position 4 is Muhahid.
The value at position 5 is Mohid.

In [ ]:
# Example 4: Used to iterate over Lists, when you need to track the index of elements while iterating.
friends = ['Rauf','Arif', 'Maaz', 'Hadeed', 'Muhahid', 'Mohid']

for i in range(len(friends)):  # Remember the len() function returns 6 in this scenario
    print('The value at position {} is {}.'.format(i, friends[i]))

The value at position 0 is Rauf.
The value at position 1 is Arif.
The value at position 2 is Maaz.
The value at position 3 is Hadeed.
The value at position 4 is Muhahid.
The value at position 5 is Mohid.

### d. Use of `break` and `continue` statement inside a `for` loop
- Python **break** statement immediately terminates a loop entirely. Program execution proceeds to the first statement after the loop body.
- Python **continue** statement immediately terminates the current loop iteration. Program execution jumps to the top of the loop, and the loop condition is re-evaluated to determine whether the loop will execute again or terminate

In [ ]:
# Example 1: Break the loop when it reaches the element "cherry"
fruits = ["apple", "banana", "cherry", "guava"]
for x in fruits:
  if x == "cherry":
    break
  print(x)

apple
banana

In [ ]:
# Example 1: Break the loop when it reaches the element "cherry"
fruits = ["apple", "banana", "cherry", "guava"]
for x in fruits:
  if x == "cherry":
    break
  print(x)

apple
banana

In [ ]:
# Example 2: Do not print banana from the list
fruits = ["apple", "banana", "cherry", "guava"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry
guava

In [ ]:
# Example 3: Print odd numbers from 1 to 11
for i in range(1,12):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9
11

In [ ]:
for i in range(1,12,2):

  print(i)

1
3
5
7
9
11

In [ ]:
# Example 4: A for loop with else and break
mydict = {
          'arif':90,
          'rauf':95,
          'maaz':81,
          'hadeed':77,
          'mujahid':86,
          'mohid':100
        }

student_name = input('enter name: ')
for name in mydict.keys():
    if name == student_name:
        print(mydict[name])
        break
else:
    print('No entry with that name found.')
print("Outside loop")

enter name: hassan
No entry with that name found.
Outside loop

In [ ]:
# Example: A for loop nested inside another for loop
# Note the inner for loop works on a list that is declared again and again inside the outer loop
list1 = [1,2,3,4]
for numb in list1:
    print("Outer: ", numb)
    list2 = ['Arif', 'Rauf']
    for name in list2:
        print("\t Inner: ", name)

print("Outside loops")

Outer:  1
	 Inner:  Arif
	 Inner:  Rauf
Outer:  2
	 Inner:  Arif
	 Inner:  Rauf
Outer:  3
	 Inner:  Arif
	 Inner:  Rauf
Outer:  4
	 Inner:  Arif
	 Inner:  Rauf
Outside loops

In [ ]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['apple', 'banana', 'guava']

for day in days:
    for fruit in fruits:
        print(day, fruit)

Monday apple
Monday banana
Monday guava
Tuesday apple
Tuesday banana
Tuesday guava
Wednesday apple
Wednesday banana
Wednesday guava

## 4. List Comprehension
- In Python comprehension is a concise way to create a new sequence based on the values of an existing sequence (which can be a list, dictionary, set or a generator)
- Let us understand List comprehension step by step with examples:

In [ ]:
oldlist = [5, 3, 6, 2]
newlist = []

for i in oldlist:
    newlist.append(i*i)

newlist

[25, 9, 36, 4]

**You can perform above task in single line using List Comprehension**

```newlist = [expression for item in iterable]```

Where,
- `expression` is the member itself, a call to a method, or any other valid expression that returns a value.
- `item` is the object or value in the list or iterable.
- `iterable` is a list, set, sequence, generator, or any other object that can return its elements one at a time.

In [ ]:
oldlist = [5, 3, 6, 2]

newlist = [i*i for i in oldlist]

newlist

[25, 9, 36, 4]

**Example 2:** Given a list, create a new list that should contain the even numbers in the given list using List Comprehension

```newlist = [expression for item in iterable if (condition == True)]```

A list comprehension in Python can have four elements:
- `expression` is the member itself, a call to a method, or any other valid expression that returns a value.
- `item` is the object or value in the list or iterable.
- `iterable` is a list, set, sequence, generator, or any other object that can return its elements one at a time.
- `if (condition==True)` The item will be placed in the newlist only if the condition evaluates to True

In [ ]:
list1 = [1, 9, 12, 88, 65, 7, 20, 55, 47, 32]
newlist = []

for i in list1:
    if (i%2 == 0):
        newlist.append(i)
newlist

[12, 88, 20, 32]

In [75]:
list1 = [1, 9, 12, 88, 65, 7, 20, 55, 47, 32]

newlist = [i for i in list1 if (i % 2 == 0)]

newlist

[12, 88, 20, 32]

**Example 3:** Suppose we want to create a `newlist` from an existing list of `fruits` such that the new list should contain only those fruits having alphabet **`a`** in their name
```newlist = [expression for item in iterable if (condition == True)]```

A list comprehension in Python can have four elements:
- `expression` is the member itself, a call to a method, or any other valid expression that returns a value.
- `item` is the object or value in the list or iterable.
- `iterable` is a list, set, sequence, generator, or any other object that can return its elements one at a time.
- `if (condition)` The item will be placed in the newlist only if the condition evaluates to true

In [76]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for fruit in fruits:
  if "a" in fruit:
    newlist.append(fruit)

print(newlist)

['apple', 'banana', 'mango']

In [77]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [fruit for fruit in fruits if ("a" in fruit)]

print(newlist)

['apple', 'banana', 'mango']

## 4. Dictionary Comprehension
- Dictionary comprehension is a concise way to create a new dictionary based on the values of an existing list or dictionary.

- Let us understand Dictionary comprehension step by step with examples:
```
newdict = {key:value for var in iterable if (condition == True)}
```
- Note for list comprehension we use `[  ]`, while for dictionary comprehension we use `{  }`

**Example 1:** Suppose we have a list containing some random numbers. We want to create a dictionary having keys of that list and values as cubes of the list values

In [78]:
list1 = [1, 2, 3, 4, 5]

dict1 = {key: key**3 for key in list1}

print (dict1)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

**Example 2:** Suppose we have a list containing numbers from 1 to 10. We want to create a dictionary having dictionary keys as the values of that list and dictionary values as cubes of the values in the list. However, the dictionary should contain only those key:value pairs, where the dictionary values are divisible by 4

In [79]:
list1 = range(11)

dict1 = {key: key**3 for key in list1 if key**3 % 4 == 0}

print(dict1)

{0: 0, 2: 8, 4: 64, 6: 216, 8: 512, 10: 1000}

**Example 4:** Suppose we have a dictionary
```
dict1 = {'alpha': 47, 'bravo': 84, 'charlie': 79, 'delta': 92}
```

Use Dictionary comprehension to create a new dictionary containing even values only

In [80]:

dict1 = {'alpha': 47, 'bravo': 84, 'charlie': 79, 'delta': 92}

dict2 = {key: value for (key, value) in dict1.items() if value % 2 == 0}
print(dict2)

{'bravo': 84, 'delta': 92}

## Check your Concepts

Try answering the following questions to test your understanding of the topics covered in this notebook:

1. What is iteration or looping in programming languages? Why is it useful?
2. What are the two ways for performing iteration in Python?
3. What is the purpose of the `while` statement in Python?
4. What is the syntax of the `white` statement in Python? Give an example.
5. Write a program to compute the sum of the numbers 1 to 100 using a while loop.
6. Repeat the above program for numbers up to 1000, 10000, and 100000. How long does it take each loop to complete?
7. What is an infinite loop?
8. What causes a program to enter an infinite loop?
9. How do you interrupt an infinite loop within Jupyter?
10. What is the purpose of the `break` statement in Python?
11. Give an example of using a `break` statement within a while loop.
12. What is the purpose of the `continue` statement in Python?
13. Give an example of using the `continue` statement within a while loop.
14. What is logging? How is it useful?
15. What is the purpose of the `for` statement in Python?
16. What is the syntax of `for` loops? Give an example.
17. How are for loops and while loops different?
18. How do you loop over a string? Give an example.
19. How do you loop over a list? Give an example.
20. How do you loop over a tuple? Give an example.
21. How do you loop over a dictionary? Give an example.
22. What is the purpose of the `range` statement? Give an example.
23. What is the purpose of the `enumerate` statement? Give an example.
24. How are the `break`, `continue`, and `pass` statements used in for loops? Give examples.
25. Can loops be nested within other loops? How is nesting useful?
26. Give an example of a for loop nested within another for loop.
27. Give an example of a while loop nested within another while loop.
28. Give an example of a for loop nested within a while loop.
29. Give an example of a while loop nested within a for loop.
30. Give a detailed comparison between map() and list comprehension, which is better in which scenario. Use timeit to time different codes